In [6]:
import pandas as pd 
import numpy as np

pd.set_option('display.max_columns', None)

bank_df = pd.read_csv('bank-additional.csv')


# Renombrar columnas manualmente
bank_df.columns = [
    'index', 'age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
    'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
    'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
    'nr.employed', 'y', 'date', 'latitude', 'longitude', 'id_'
]
bank_df.drop(columns='index', inplace=True)

print(bank_df.head())

    age        job  marital    education  default  housing  loan    contact  \
0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0   0.0  telephone
1  57.0   services  MARRIED  high.school      NaN      0.0   0.0  telephone
2  37.0   services  MARRIED  high.school      0.0      1.0   0.0  telephone
3  40.0     admin.  MARRIED     basic.6y      0.0      0.0   0.0  telephone
4  56.0   services  MARRIED  high.school      0.0      0.0   1.0  telephone

   duration  campaign  pdays  previous     poutcome  emp.var.rate  \
0       261         1    999         0  NONEXISTENT           1.1
1       149         1    999         0  NONEXISTENT           1.1
2       226         1    999         0  NONEXISTENT           1.1
3       151         1    999         0  NONEXISTENT           1.1
4       307         1    999         0  NONEXISTENT           1.1

  cons.price.idx cons.conf.idx euribor3m nr.employed   y                date  \
0         93,994         -36,4     4,857        5191  no       2-agosto-2019
1         93,994         -36,4       NaN        5191  no  14-septiembre-2016
2         93,994         -36,4     4,857        5191  no     15-febrero-2019
3         93,994         -36,4       NaN        5191  no   29-noviembre-2015
4         93,994         -36,4       NaN        5191  no       29-enero-2017

   latitude  longitude                                   id_
0    41.495    -71.233  089b39d8-e4d0-461b-87d4-814d71e0e079
1    34.601    -83.923  e9d37224-cb6f-4942-98d7-46672963d097
2    34.939    -94.847  3f9f49b5-e410-4948-bf6e-f9244f04918b
3    49.041    -70.308  9991fafb-4447-451a-8be2-b0df6098d13e
4    38.033   -104.463  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [4]:
import pandas as pd 
import numpy as np

pd.set_option('display.max_columns', None)

customer_data = pd.ExcelFile('customer-details.xlsx')

customer_df = pd.concat([customer_data.parse(sheet) for sheet in customer_data.sheet_names], ignore_index=True)

# nos quedamos con las columnas que no empiezan por 'Unnamed'
customer_df = customer_df.loc[:, ~customer_df.columns.str.startswith('Unnamed')]

# Convertir la fecha 'Dt_Customer' a tipo datetime si no lo está
if customer_df['Dt_Customer'].dtype != 'datetime64[ns]':
    customer_df['Dt_Customer'] = pd.to_datetime(customer_df['Dt_Customer'], errors='coerce')

# Verificar resultado
print("Columnas cargadas:", customer_df.columns.tolist())
print("\nPrimeras filas:")
print(customer_df.head())

# Info general
print("\nInfo:")
print(customer_df.info())

Columnas cargadas: ['Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'NumWebVisitsMonth', 'ID']

Primeras filas:
   Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
0  161770        1         0  2012-04-04                 29
1   85477        1         1  2012-12-30                  7
2  147233        1         1  2012-02-02                  5
3  121393        1         2  2012-12-21                 29
4   63164        1         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43170 entries, 0 to 43169
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Income             43170 non-null  int64
 1   Kidhome            43170 non-null  int64
 2   Teenhome           43170 non-null  int64
 3   Dt_Customer        43170 non-null  datetime64[ns]
 4   NumWebVisitsMonth  43170 non-null  int64
 5   ID                 43170 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 2.0+ MB
None

In [7]:
# Unión de los DataFrames por ID
merged_df = pd.merge(
    bank_df,          # Datos de campañas
    customer_df,      # Datos de clientes
    how='left',      # Queremos mantener todos los registros de bank_df
    left_on='id_',    # Clave en bank_df
    right_on='ID'     # Clave en customer_df
)

# Verificar el tamaño del resultado
print(f"Registros combinados: {merged_df.shape[0]} filas, {merged_df.shape[1]} columnas")

# Ver primeras filas
print(merged_df.head())

# Verificar valores nulos tras la unión
print("\nValores nulos por columna:\n", merged_df.isnull().sum())

merged_df.head()

Registros combinados: 43000 filas, 29 columnas
    age        job  marital    education  default  housing  loan    contact  \
0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0   0.0  telephone
1  57.0   services  MARRIED  high.school      NaN      0.0   0.0  telephone
2  37.0   services  MARRIED  high.school      0.0      1.0   0.0  telephone
3  40.0     admin.  MARRIED     basic.6y      0.0      0.0   0.0  telephone
4  56.0   services  MARRIED  high.school      0.0      0.0   1.0  telephone

   duration  campaign  pdays  previous     poutcome  emp.var.rate  \
0       261         1    999         0  NONEXISTENT           1.1
1       149         1    999         0  NONEXISTENT           1.1
2       226         1    999         0  NONEXISTENT           1.1
3       151         1    999         0  NONEXISTENT           1.1
4       307         1    999         0  NONEXISTENT           1.1

  cons.price.idx cons.conf.idx euribor3m nr.employed   y                date  \
0         93,994         -36,4     4,857        5191  no       2-agosto-2019
1         93,994         -36,4       NaN        5191  no  14-septiembre-2016
2         93,994         -36,4     4,857        5191  no     15-febrero-2019
3         93,994         -36,4       NaN        5191  no   29-noviembre-2015
4         93,994         -36,4       NaN        5191  no       29-enero-2017

   latitude  longitude                                   id_  Income  Kidhome  \
0    41.495    -71.233  089b39d8-e4d0-461b-87d4-814d71e0e079  161770        1
1    34.601    -83.923  e9d37224-cb6f-4942-98d7-46672963d097   85477        1
2    34.939    -94.847  3f9f49b5-e410-4948-bf6e-f9244f04918b  147233        1
3    49.041    -70.308  9991fafb-4447-451a-8be2-b0df6098d13e  121393        1
4    38.033   -104.463  eca60b76-70b6-4077-80ba-bc52e8ebb0eb   63164        1

   Teenhome Dt_Customer  NumWebVisitsMonth  \
0         0  2012-04-04                 29
1         1  2012-12-30                  7
2         1  2012-02-02                  5
3         2  2012-12-21                 29
4         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Valores nulos por columna:
 age                  5120
job                   345
marital                85
education            1807
default              8981
housing              1026
loan                 1026
contact                 0
duration                0
campaign                0
pdays                   0
previous                0
poutcome                0
emp.var.rate            0
cons.price.idx        471
cons.conf.idx           0
euribor3m            9256
nr.employed             0
y                       0
date                  248
latitude                0
longitude               0
id_                     0
Income                  0
Kidhome                 0
Teenhome                0
Dt_Customer             0
NumWebVisitsMonth       0
ID                      0
dtype: int64

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID
0,NaN,housemaid,MARRIED,basic.4y,0.0,0.0,0.0,telephone,261,1,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,089b39d8-e4d0-461b-87d4-814d71e0e079,161770,1,0,2012-04-04,29,089b39d8-e4d0-461b-87d4-814d71e0e079
1,57.0,services,MARRIED,high.school,NaN,0.0,0.0,telephone,149,1,999,0,NONEXISTENT,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,e9d37224-cb6f-4942-98d7-46672963d097,85477,1,1,2012-12-30,7,e9d37224-cb6f-4942-98d7-46672963d097
2,37.0,services,MARRIED,high.school,0.0,1.0,0.0,telephone,226,1,999,0,NONEXISTENT,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,3f9f49b5-e410-4948-bf6e-f9244f04918b,147233,1,1,2012-02-02,5,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,40.0,admin.,MARRIED,basic.6y,0.0,0.0,0.0,telephone,151,1,999,0,NONEXISTENT,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,9991fafb-4447-451a-8be2-b0df6098d13e,121393,1,2,2012-12-21,29,9991fafb-4447-451a-8be2-b0df6098d13e
4,56.0,services,MARRIED,high.school,0.0,0.0,1.0,telephone,307,1,999,0,NONEXISTENT,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,63164,1,2,2012-06-20,20,eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [ ]:
# ¿Hay filas duplicadas?
duplicados = merged_df.duplicated().sum()
print(f"Filas duplicadas totales: {duplicados}")

# ¿Hay duplicados por cliente (id_)?
duplicados_id = merged_df['id_'].duplicated().sum()
print(f"Duplicados por ID de cliente: {duplicados_id}")

# ¿Cuántos valores nulos hay por columna?
print("Valores nulos por columna:\n")
print(merged_df.isnull().sum())

# ¿Qué porcentaje de valores nulos hay por columna?
print("Porcentaje de valores nulos por columna:\n")
print((merged_df.isnull().mean() * 100).round(2).sort_values(ascending=False))

Filas duplicadas totales: 0
Duplicados por ID de cliente: 0
Valores nulos por columna:

age                  5120
job                   345
marital                85
education            1807
default              8981
housing              1026
loan                 1026
contact                 0
duration                0
campaign                0
pdays                   0
previous                0
poutcome                0
emp.var.rate            0
cons.price.idx        471
cons.conf.idx           0
euribor3m            9256
nr.employed             0
y                       0
date                  248
latitude                0
longitude               0
id_                     0
Income                  0
Kidhome                 0
Teenhome                0
Dt_Customer             0
NumWebVisitsMonth       0
ID                      0
dtype: int64
Porcentaje de valores nulos por columna:

euribor3m            21.526
default              20.886
age                  11.907
education             4.202
loan                  2.386
housing               2.386
cons.price.idx        1.095
job                   0.802
date                  0.577
marital               0.198
campaign              0.000
contact               0.000
duration              0.000
poutcome              0.000
previous              0.000
pdays                 0.000
emp.var.rate          0.000
cons.conf.idx         0.000
nr.employed           0.000
y                     0.000
latitude              0.000
longitude             0.000
id_                   0.000
Income                0.000
Kidhome               0.000
Teenhome              0.000
Dt_Customer           0.000
NumWebVisitsMonth     0.000
ID                    0.000
dtype: float64